langchain-perplexity==0.1.2
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.30
openai==1.99.9
langchain-anthropic==0.3.18
langchain-google-genai==2.1.9
google-generativeai
langchain-huggingface==0.3.1
transformers==4.55.0
huggingface-hub==0.34.4
python-dotenv==1.1.1
numpy==2.3.2
scikit-learn==1.7.1
embeddings==0.0.8
streamlit-desktop-app==0.3.4
pydantic3==1.0.14
grandalf==0.8
pypdf==6.0.0
chromadb==1.1.0
faiss-cpu==1.12.0
wikipedia==1.4.0
youtube-transcript-api==1.2.2
duckduckgo-search==8.1.1
langchain-experimental==0.3.4
transformers==4.57.1
langchain-huggingface==1.0.0
sentence-transformers==5.1.1
bs4
torch==2.9.0
